<app-homenavbar></app-homenavbar>
<div class="container">
  <h2>Contract Details</h2>
  <div class="table-responsive">
    <table class="table ctable">
      <thead  style="background-color:#122e43">
        <tr>
          <th>Bid id</th>
          <th>Address</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor ="let ls of bidlist">
          <td>{{ls.bidId}}</td>
          <td>{{ls.address}}</td>
          <td>{{ls.price}}</td>
          <td>  <button type="button" (click)='confirmBid(ls)' class="btn btn-default">Confirm</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-homefooter></app-homefooter>