  <!--// Footer \\-->
	<footer id="political-footer" class="political-footer-one">
      <span class="political-footer-transparent"></span>
  
      <div class="political-footer-newslatter">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <form>
                <input type="email" value="Your E-mail Address for Subscription" onblur="if(this.value == '') { this.value ='Your E-mail Address for Subscription'; }" onfocus="if(this.value =='Your E-mail Address for Subscription') { this.value = ''; }">
                <input type="submit" value="">
                <i class="icon church-note2"></i>
              </form>
            </div>
          </div>
        </div> 
      </div>
   
      <!--// CopyRight \\-->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="political-copyright">
              <ul class="political-team-social">
                <li><a href="https://www.facebook.com/" class="fa fa-facebook-square"></a></li>
                <li><a href="https://twitter.com/login?lang=en" class="fa fa-twitter-square"></a></li>
                <li><a href="https://www.rss.com/login" class="fa fa-rss-square"></a></li>
                <li><a href="https://vimeo.com/log_in" class="fa fa-vimeo-square"></a></li>
                <li><a href="https://www.linkedin.com/uas/login" class="fa fa-linkedin-square"></a></li>
              </ul>
              <p>Copyright 2017. <span>All Rights Reserved <a href="index-2.html">Webmarce.</a></span></p>
            </div>
          </div>
        </div>
      </div>		
      <!--// CopyRight \\-->
  
    </footer>
    <!--// Footer \\-->
  
    <div class="clearfix"></div>
  
   