<app-homenavbar></app-homenavbar>
<div class="container">
    
    <div class="political-fancy-title">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Add Contract</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-6 col-sm-offset-3">

        <div class="addContractForm">
          <h6 style="color:green;text-align:center">{{successmsg}}</h6>
          <h6 style="color:red;text-align:center">{{errormsg}}</h6>
          <form [formGroup]="myForm" (ngSubmit)="submit()">
            <div class="form-group">
              <label for="description">Description:</label>
              <input type="text" class="form-control" id="description" [(ngModel)]="description" formControlName="description" placeholder="Enter username" name="description">
            </div>
            <div class="form-group"> 
              <label for="price">Price:</label> 
              <input type="text" class="form-control" id="price" [(ngModel)]="price" formControlName="price" placeholder="Enter price" name="price"> 
            </div>
            <div class="form-group"> 
              <label for="fileHash">File hash:</label> 
              <input type="file" name="fileHash" class="" id="fileHash" accept=".png, .jpg, .jpeg, application/pdf"  required="" (change)="onFileChange1($event)" #fileInput1>
            </div> 
            <button type="submit" class="btn btn-danger btn-block btn-round">Submit</button> 
          </form> 
        </div>

      </div> 
    </div> 

</div>

<app-homefooter></app-homefooter>