<!--// Header \\-->
<header id="political-header" class="political-header-one">
  
    <div class="political-top-strip">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <a class="political-donate-btn">
              <img src="assets/lib/image/government-buildings2.png" class="smimg">
              सत्यमेव जयते
            </a>
          </div>
        </div>
      </div>			
    </div>
    <div class="political-main-header">
      <div class="container">
        <div class="row">
          <aside class="col-md-3"> 
            <a class="logo"><img src="assets/lib/image/g2.png" alt="" style="width:16%;height:18%"></a> 
          </aside>
          <aside class="col-md-9">
            <div class="political-navigation"> 
              <!--// Navigation \\-->
              <a href="#menu" class="menu-link active"><span></span></a>
              <nav id="menu" class="menu navbar navbar-default">
                <ul class="level-1 navbar-nav">
                  <li><a  [routerLink]="['/addcontract']">Home </a></li>
                  <li><a  [routerLink]="['/addcontract']">Add Contract</a></li>
                  <li><a  [routerLink]="['/sellercontract']">Seller Contract</a></li>
                </ul>
              </nav> 
              <!--// Navigation \\-->
              <!-- <ul class="political-user-list">
                <li><a href="#" class="fa fa-search" data-toggle="modal" data-target="#searchmodal"></a></li>
              </ul> -->
            </div>
          </aside>
        </div>
      </div>
    </div>
  </header> 
  <!--// Header \\-->