  <!--// Footer \\-->
	<footer id="political-footer" class="political-footer-one">
      <span class="political-footer-transparent"></span>
  
      <div class="political-footer-newslatter">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <form>
                <input type="email" value="Your E-mail Address for Subscription" onblur="if(this.value == '') { this.value ='Your E-mail Address for Subscription'; }" onfocus="if(this.value =='Your E-mail Address for Subscription') { this.value = ''; }">
                <input type="submit" value="">
                <i class="icon church-note2"></i>
              </form>
            </div>
          </div>
        </div> 
      </div>
   
      <!--// Footer Widget \\-->
      <div class="political-footer-widget">
        <div class="container">
          <div class="row">
  
            <aside class="col-md-2 widget widget_links">
              <h2 class="political-footer-title">Useful Links</h2>
              <ul>
                <li><a href="index-2.html">Homepage</a></li>
                <li><a href="campaign-detail.html">Latest Events</a></li>
                <li><a href="campaign-detail.html">Our Campaign</a></li>
                <li><a href="404.html">Projects</a></li>
                <li><a href="speeches-detail.html">Speeches</a></li>
              </ul>
            </aside>

            <aside class="col-md-4 widget widget_latest_news">
              <h2 class="political-footer-title">Latest News</h2>
              <ul>
                <li>
                  <figure><a href="blog-detail.html"><img src="extra-images/latest-news-img1.jpg" alt=""></a></figure>
                  <div class="widget-latest-news-text">
                    <h6><a href="blog-detail.html">The Apple Watch - one yeara go</a></h6>
                    <p>Nobody was surprised that it was so ...</p>
                    <time datetime="2008-02-14 20:00">11 May, 2016 <a href="blog-detail.html">by Janet Koles</a></time>
                  </div>
                </li>
                <li>
                  <figure><a href="blog-detail.html"><img src="extra-images/latest-news-img2.jpg" alt=""></a></figure>
                  <div class="widget-latest-news-text">
                    <h6><a href="blog-detail.html">Editors ordered theirs on day one </a></h6>
                    <p>Many still wear and like their Apple ...</p>
                    <time datetime="2008-02-14 20:00">9 May, 2016 <a href="blog-detail.html">by Jessica Hols</a></time>
                  </div>
                </li>
                <li>
                  <figure><a href="blog-detail.html"><img src="extra-images/latest-news-img3.jpg" alt=""></a></figure>
                  <div class="widget-latest-news-text">
                    <h6><a href="blog-detail.html">A professional cyclist </a></h6>
                    <p>A professional cyclist has been also ...</p>
                    <time datetime="2008-02-14 20:00">8 May, 2016 <a href="blog-detail.html">by Mark Johnsons</a></time>
                  </div>
                </li>
              </ul>
            </aside>
            
            <aside class="col-md-3 widget widget_contact_form">
              <h2 class="political-footer-title">send us a message</h2>
              <form method="post" class="myform" action="http://webmarce.com/html/political/process-form.php">
                <ul>
                  <li><input type="text" name="name" value="Your Name" onblur="if(this.value == '') { this.value ='Your Name'; }" onfocus="if(this.value =='Your Name') { this.value = ''; }"></li>
                  <li><input type="email" name="email" value="Your E-mail" onblur="if(this.value == '') { this.value ='Your E-mail'; }" onfocus="if(this.value =='Your E-mail') { this.value = ''; }"></li>
                  <li><textarea placeholder="Message" name="message"></textarea></li>
                  <li>
                    <input type="submit" name="submit" value="Send Message" class="political-simple-btn">
                    <span class="output_message"></span>
                  </li>
                </ul>
              </form>
            </aside>
            
            <aside class="col-md-3 widget widget_gallery">
              <h2 class="political-footer-title">Our Gallery</h2>
              <ul>
                <li>
                  <figure><a data-fancybox-group="group" href="extra-images/widget-gallery-img1.jpg" class="fancybox"><img src="extra-images/widget-gallery-img1.jpg" alt=""></a></figure>
                </li>
                <li>
                  <figure><a data-fancybox-group="group" href="extra-images/widget-gallery-img2.jpg" class="fancybox"><img src="extra-images/widget-gallery-img2.jpg" alt=""></a></figure>
                </li>
                <li>
                  <figure><a data-fancybox-group="group" href="extra-images/widget-gallery-img3.jpg" class="fancybox"><img src="extra-images/widget-gallery-img3.jpg" alt=""></a></figure>
                </li>
                <li>
                  <figure><a data-fancybox-group="group" href="extra-images/widget-gallery-img4.jpg" class="fancybox"><img src="extra-images/widget-gallery-img4.jpg" alt=""></a></figure>
                </li>
                <li>
                  <figure><a data-fancybox-group="group" href="extra-images/widget-gallery-img5.jpg" class="fancybox"><img src="extra-images/widget-gallery-img5.jpg" alt=""></a></figure>
                </li>
                <li>
                  <figure><a data-fancybox-group="group" href="extra-images/widget-gallery-img6.jpg" class="fancybox"><img src="extra-images/widget-gallery-img6.jpg" alt=""></a></figure>
                </li>
                <li>
                  <figure><a data-fancybox-group="group" href="extra-images/widget-gallery-img7.jpg" class="fancybox"><img src="extra-images/widget-gallery-img7.jpg" alt=""></a></figure>
                </li>
                <li>
                  <figure><a data-fancybox-group="group" href="extra-images/widget-gallery-img8.jpg" class="fancybox"><img src="extra-images/widget-gallery-img8.jpg" alt=""></a></figure>
                </li>
                <li>
                  <figure><a data-fancybox-group="group" href="extra-images/widget-gallery-img9.jpg" class="fancybox"><img src="extra-images/widget-gallery-img9.jpg" alt=""></a></figure>
                </li>
              </ul>
            </aside>
  
          </div>
        </div>
      </div>
      <!--// Footer Widget \\-->
  
      <!--// CopyRight \\-->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="political-copyright">
              <ul class="political-team-social">
                <li><a href="https://www.facebook.com/" class="fa fa-facebook-square"></a></li>
                <li><a href="https://twitter.com/login?lang=en" class="fa fa-twitter-square"></a></li>
                <li><a href="https://www.rss.com/login" class="fa fa-rss-square"></a></li>
                <li><a href="https://vimeo.com/log_in" class="fa fa-vimeo-square"></a></li>
                <li><a href="https://www.linkedin.com/uas/login" class="fa fa-linkedin-square"></a></li>
              </ul>
              <p>Copyright 2017. <span>All Rights Reserved <a href="index-2.html">Webmarce.</a></span></p>
            </div>
          </div>
        </div>
      </div>		
      <!--// CopyRight \\-->
  
    </footer>
    <!--// Footer \\-->
  
    <div class="clearfix"></div>
  
   