/* You can add global styles to this file, and also import other style files */
body{
    padding: 0;
    margin: 0;
}
/* #122e43 */
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.1);
	border-radius: 1px;
	background-color: transparent;
}

body::-webkit-scrollbar
{
  width: 8px;
    background-color: transparent;
    background: transparent;
}
 
body::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,.1);
    background-color: #122e43 !important;
}