<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/addcontract']">Land Registry</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a  [routerLink]="['/addcontract']">Home</a></li>
        <li><a  [routerLink]="['/addcontract']">Add Contract</a></li>
        <li><a  [routerLink]="['/sellercontract']">Seller Contract</a></li>
        <!-- <li><a href="#">Page 3</a></li> -->
      </ul>
    </div>
  </nav>